.button {
	width: 60px;
	height: 40px;
	background-color: var(--color-accent);
	background-image: url('~@/assets/icons/sprite.svg');
	background-repeat: no-repeat;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background-color 0.1s ease-in;
	&:hover {
		background-color: var(--color-accent-hover);
	}
	&:hover:disabled {
		background-color: var(--color-medium-gray);
	}
	&:disabled {
		opacity: 0.5;
		cursor: initial;
		background-color: var(--color-medium-gray);
	}
}
.button--danger {
	background-color: var(--color-danger);
	&:hover {
		background-color: var(--color-danger-hover);
	}
}
.button--auto-height {
	height: auto;
}
.button--icon-bookmark {
	background-position: -207.5px 50%;
}
.button--icon-check {
	background-position: -57.5px 50%;
}
.button--icon-plus {
	background-position: 17.5px 50%;
}
.button--icon-cancel {
	background-position: -132.5px 50%;
}
