.button {
	width: 60px;
	height: 40px;
	background-color: var(--color-accent);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.1s ease-in;
	&:hover {
		background-color: var(--color-accent-hover);
	}
	&:hover:disabled {
		background-color: var(--color-medium-gray);
	}
	&:disabled {
		opacity: 0.5;
		cursor: initial;
		background-color: var(--color-medium-gray);
	}
}
.button--danger {
	background-color: var(--color-danger);
	&:hover {
		background-color: var(--color-danger-hover);
	}
}
.button--auto-height {
	height: auto;
}
.button--icon-bookmark {
	background-image: url('~@/assets/icons/bookmark.svg');
}
.button--icon-check {
	background-image: url('~@/assets/icons/check.svg');
}
.button--icon-plus {
	background-image: url('~@/assets/icons/plus.svg');
}
.button--icon-cancel {
	background-image: url('~@/assets/icons/cancel.svg');
}
