.button {
	margin: 0;
	width: 60px;
	height: 40px;
	background-color: $color-accent;
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.1s ease-in;
	&:hover {
		background-color: darken($color: $color-accent, $amount: 5%);
	}
}
.button--danger {
	background-color: $color-danger;
	&:hover {
		background-color: darken($color: $color-danger, $amount: 10%);
	}
}
.button--auto-height {
	height: auto;
}
.button---icon-bookmark {
	background-image: url('~@/assets/icons/bookmark.svg');
}
.button---icon-check {
	background-image: url('~@/assets/icons/check.svg');
}
.button---icon-plus {
	background-image: url('~@/assets/icons/plus.svg');
}
.button---icon-cancel {
	background-image: url('~@/assets/icons/cancel.svg');
}
