.input {
	display: block;
	padding: 6px 10px;
	color: var(--color-dark-gray);
	font-family: inherit;
	font-size: inherit;
	background-color: var(--color-light-gray);
	border: 2px solid transparent;
	border-radius: 5px;
	box-sizing: border-box;
	transition: border-color .1s ease-in;
	outline: none;
	resize: vertical;
	&:focus {
		border-color: var(--color-accent);
	}
}
.input--warning {
	border-color: var(--color-warning);
	&:focus {
		border-color: var(--color-warning);
	}
}
.input--error {
	border-color: var(--color-danger);
	&:focus {
		border-color: var(--color-danger);
	}
}
