.page {
	padding: 20px 0;
	&__title {
		margin: 0 0 10px;
		font-size: 36px;
		text-align: center;
	}
}


@media (max-width: 1023px) {
	.page {
		padding: 10px 0;
		&__title {
			margin-bottom: 0;
			font-size: 24px;
		}
	}
}
