.paginate {
  display: flex;
	justify-content: center;
	margin: 0;
  padding: 20px 0;
  font-size: 18px;
  list-style: none;
  li {
    color: var(--color-text);
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease-in;
		&:not(:last-child) {
			margin-right: 3px;
		}
    &:hover,
    &:focus {
      background-color: var(--color-accent-hover);
    }
  }
  li.active {
		background-color: var(--color-accent);
  }
  a {
    display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		user-select: none;
  }
}
