body {
  margin: 0;
  padding: 0;
	color: var(--color-text);
	font-family: Jost, Helvetica, Arial, sans-serif;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-background);
}


.no-scroll {
	overflow: hidden;
}


img {
  display: block;
  max-width: 100%;
}


.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 10px;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


.fade-enter-active, .fade-leave-active {
	transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}
