:root {
	--font-main: Jost, Helvetica, Arial, sans-serif;
	--border-radius: 5px;

	--color-accent: #f8b900;
	--color-danger: #ff5e7b;
	--color-warning: #ff9900;
	--color-accent-hover: #dfa600;
	--color-danger-hover: #ff2b51;

	--color-background: #141414;
	--color-base-background: #101010;
	--color-body-background: #202020;
	--color-medium-gray: #a0a0a0;
	--color-light-gray: #e4e4e4;
	--color-text: #ececec;
	--color-input-text: #303030;
}


[theme="light"] {
	--color-background: #ebebeb;
	--color-base-background: #dadada;
	--color-body-background: #f1f1f1;
	--color-text: #303030;
}
